 .header {
  height: 60px;
  width: 100%;
  min-width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
  flex-shrink: 0;
}


/* LEFT */
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

.header-title {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-icon {
  width: 20px;
  height: 20px;
  color: #000;
}

.header-user {
  font-size: 14px;
  color: #000;
}
.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
}