 .rendimiento {
  width: 1200px;
  display: flex;
  flex-direction: column;
   
}

.main-section {
  width: 100%;
  flex: 1;
   padding: 32px 48px;
}

/* TITULOS */
.rendimiento h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: #0b1324;
}

.rendimiento .subtitle {
  margin-top: 6px;
  font-size: 14px;
  color: #64748b;
}

.body > div.app-layout > main > div > div{
     padding: 32px 48px;
}